 .u-section-1 {
  background-image: none;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1374px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 17px auto 0 53px;
}

.u-section-1 .u-table-1 {
  width: 1024px;
  margin: 35px auto 0;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-size: 1rem;
}

.u-section-1 .u-table-cell-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-table-body-1 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-13 {
  font-weight: 700;
}

.u-block-cbab-83 {
  height: 46px;
}

.u-section-1 .u-group-1 {
  width: 1034px;
  background-image: none;
  min-height: 49px;
  margin: 40px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 12px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 555px 0 0;
}

.u-section-1 .u-table-2 {
  width: 1024px;
  margin: 35px auto 60px;
}

.u-block-cbab-34 {
  background-image: none;
  font-size: 1rem;
}

.u-block-cbab-90 {
  height: 39px;
}

.u-block-cbab-91 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-body-2 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-15 {
  font-weight: 700;
  font-size: 0.9375rem;
}

.u-section-1 .u-table-cell-17 {
  font-weight: 700;
  font-size: 0.9375rem;
}

.u-section-1 .u-table-cell-19 {
  font-weight: 700;
  font-size: 0.9375rem;
}

.u-section-1 .u-table-cell-21 {
  font-weight: 700;
  font-size: 0.9375rem;
}

.u-section-1 .u-table-cell-23 {
  font-weight: 700;
  font-size: 0.9375rem;
}

.u-section-1 .u-table-cell-25 {
  font-weight: 700;
  font-size: 0.9375rem;
}

.u-section-1 .u-table-cell-27 {
  font-weight: 700;
  font-size: 0.9375rem;
}

.u-section-1 .u-table-cell-29 {
  font-weight: 700;
  font-size: 0.9375rem;
}

.u-block-cbab-53 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    width: 940px;
    margin-top: 34px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-top: -7px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -39px;
    margin-right: 508px;
    margin-left: 65px;
  }

  .u-section-1 .u-table-2 {
    width: 940px;
    margin-top: 46px;
    margin-left: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 288px;
  }

  .u-section-1 .u-table-2 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
    margin-top: 44px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 113px;
    font-size: 1rem;
  }

  .u-section-1 .u-table-2 {
    width: 540px;
    margin-top: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -34px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
  }
}